* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

body {
  background-color: darkgray;
  font-family: Arial;
  font-size: 20px;
  padding: 50px;
}

h1 {
  font-size: 30px;
  padding-bottom: 25px;
}

h2 {
  margin-bottom: 20px;
  text-align: center;
}

p {
  margin-bottom: 20px;
}

.first {
  color: red;
}

#your-name {
  background-color: green;
  border: 5px solid red;
  width: 400px;
  padding: 25px;
  margin: 30px;
}

input,
button {
  padding: 10px;
  font-size: 16px;
}

a {
  background-color: green;
}

#course-image {
  width: 200px;
  /* height: 200px; */
}

#your-name h2 {
  color: yellow;
}
